#splash-page {
  background-color: #EEE;
}

#logo {
  background: url('../img/ionic.png') no-repeat transparent;
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -64px 0px 0px -64px;
}

.item {
	cursor: pointer;
}

h2 {
	text-align: center;
	margin: 0;
	padding: 0;
}

.item item-body {
background: #A9A9A9;
}
