<ion-view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true" >
    <ion-content has-header="true" padding="true" >
        <div ng-controller="AutreCtrl">
            <div class="list">
                <a class="item item-icon-left" href="mByblosClient/index.html">
                    <i class="icon ion-ios7-compose"></i>
                   Demandes
                </a>
                <a class="item item-icon-left" href="mByblosClient/index.html">
                    <i class="icon ion-card"></i>
                    Cra
                </a>
                <a class="item item-icon-left" href="mByblosClient/index.html">
                    <i class="icon ion-android-calendar"></i>
                    Factures
                </a>
                <a class="item item-icon-left" href="mByblosClient/index.html">
                    <i class="icon ion-bookmark"></i>
                    Missions
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>


					
					